body {
  background-color: #794d1315;
  color: #427efe49;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  border-bottom: solid 1px #ccb800;
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #5800cc;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #c4fa0034;
}

.iniad {
  color: #7000cc;
}

.time {
  font-weight: bold;
  color: #1f00cc;
  font-size: 30px;
}
